<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3><%= ["hello","bonjour","namaste"][1] %></h3>
    <p>
        The name "Adarsh" is of Sanskrit origin and is commonly used in India. In Sanskrit, "Adarsh" (आदर्श) means "ideal" or "exemplary." The name carries positive connotations, representing someone who is a role model or an ideal person.
        
        In terms of personality traits, individuals named Adarsh are often thought to embody qualities like integrity, responsibility, and leadership, reflecting the meaning of the name itself.
    </p>
    <button>Click me!</button>
</body>
</html>